html,
body {
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
}

#chat {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  color: white;
}

input {
  width: 600px;
  border: 1px solid #ddd;
  height: 50px;
  padding: 0 20px;
  font-size: 14px;
  color: white;
  background-color: black;
}

button {
  width: 600px;
  height: 50px;
  font-size: 14px;
  background: #069;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  color: #fff;
  margin-top: 10px;
}

.messages {
  max-width: 600px;
  max-height: 300px;
  margin: 20px 0;
  border: 1px solid #ddd;
  padding: 20px;
  overflow: auto;
  word-wrap: break-word;
}
